#firstpage {
    margin-top: 0px;
}


body {
    
    background-image: url(./abstract-5387368_1920.jpg);
    background-position-y:top;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow-y:scroll;
    overflow-x: hidden;
    margin-top: 14%;
}

#mom {
    font-family: 'Agdasima', sans-serif;

}
footer {
    padding: 10px;
    text-align: center;
  }
.green-icon {
    color: green;
}

@media screen and (max-width:560px) {
#firstpage{
    margin-top: 90px;
  }

}